.errorbox-container{
    color: $color-error;
    border: 2px solid lightgrey;
    background-color: $color-gray;

    .heading{
        padding: 5px;
        color: #18103D;
        background-color: grey;
    }

    .errorLine{
        display: block;
       // border-bottom: 1px solid grey;

        &:hover{
            background-color: $color-light-purple;
            color: black;
        }

        .number{
            color:black;
        }

        .message{
            
        }
    }


}